<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robustastudio.robustivityapp">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.robustastudio.robustivityapp.WifiBroadcastReceiver" >
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".createProfile"
            android:label="@string/title_activity_create_profile"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".popAddSector"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity android:name=".viewProjects"/>
        <activity android:name=".Project"/>
        <activity android:name=".viewSectors"/>

        <activity android:name=".statistics"/>
        <activity android:name=".createuserprof" />
        <activity android:name=".viewprofile" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".UsersProfiles"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.robustastudio.robustivityapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>

            ...
        </provider>

    </application>

</manifest>